.categories-container {
    display: flex;
    flex-direction: row;
    width: 72em;
    justify-content: space-between;
    margin-bottom: 2em;
    margin-top: 1em;
    .category-result {
        width: 20em;
    margin: 0 1em;
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 70em) {
    .categories-container {
        width: 100vw;
        overflow-x: scroll;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-bottom: 1em;
        .category-result {
            width: 13em;
        }
    }
}

@media screen and (max-width: 50em) {
    .categories-container {
        width: 100vw;
        overflow-x: scroll;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-bottom: 1em;
        .category-result {
            width: 13em;
        }
    }
}