.categories-container {
    display: flex;
    flex-direction: row;
    width: 50em;
    justify-content: space-between;
    margin-bottom: 2em;
}

@media screen and (max-width: 50em) {
    .categories-container {
        width: 100%;
    }
}