.footer {
    background-color: white;
    width: 100%;
    .discord-link {
        height: 5em;
        background-color: #258f92;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
        font-weight: bold;
    }
    .footer-bottom {
        background-color: #d0e6e6;
        height: 15em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social-icons {
        display: flex;
        flex-direction: row;

    }
    .footer-labels {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .footer-title {
            font-size: 16px;
            font-weight: bold;
        }
        .copyright {
            font-size: 10px;
        }
    }
}