.footer {
    font-family: 'Lato', sans-serif;
    background-color: rgb(25, 27, 53);;
    width: 100%;
    .discord-link {
        font-family: 'Lato', sans-serif;
        height: 5em;
        background-color: rgb(25, 27, 53);;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        a {
            font-size: 1.1em;
        }
    
    }
    .footer-bottom {
        font-family: 'Lato', sans-serif;
        background-color: rgb(25, 27, 53);
        color: white;
        height: 15em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social-icons {
        display: flex;
        flex-direction: row;
        width: 6rem;
        justify-content: space-between;
        margin-bottom: 1em;
    }
    .footer-labels {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .footer-title {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 400;
        }
        .copyright {
            font-size: 12px;
        }
    }
}

.icon-bg {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
}