.footer {
    font-family: 'Lato';
    background-color: white;
    width: 100%;
    .discord-link {
        height: 5em;
        background-color: #258f92;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        a {
            font-size: 1.1em;
        }
    
    }
    .footer-bottom {
        background-color: #d0e6e6;
        height: 15em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social-icons {
        display: flex;
        flex-direction: row;

    }
    .footer-labels {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .footer-title {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 400;
        }
        .copyright {
            font-size: 12px;
        }
    }
}