.home-header {
    font-family: 'Lato';
    display: flex;
    width: 100%;
    background-color: rgb(25, 27, 53);
    box-shadow: 4px -1px 9px #c3c3c3;
    .home-logo {
        margin: 2vh 2vw;
        filter:  brightness(0) invert(1);
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 550px) {
    .home-header {
        font-family: 'Lato';
        align-items: center;
        justify-content: center;
    }
}