.home-header {
    font-family: 'Lato';
    display: flex;
    width: 100%;
    background-color: white;
    .home-logo {
        margin: 2vh 2vw;
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 550px) {
    .home-header {
        font-family: 'Lato';
        align-items: center;
        justify-content: center;
    }
}