.category-select {
    width: 105rem;
    padding-left: 3em;
    select {
        background: transparent;
        border: none;
        margin: 1em 0;
        font-size: 16px;
        font-weight: 600;
        color: #258f92;
        border: none;
        outline: none;
        option {
            border: none;
            outline: none;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.load-more-btn {
    margin: 2em;
    background-color: #258f92;
    border: none;
    border-radius: 3px;
    padding: 1em 2em;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    &:hover {
        cursor: pointer;
    }
}

.showcases-page-container {
    width: 100rem;
    display: grid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .showcase-card {
        box-shadow: 4px 4px 10px #c3c3c3;
        border-radius: 5px;
        width: 21em;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2em 1em;
        height: 24em;
        &:hover {
            cursor: pointer;
        }
        .showcase-cover-imgs {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 14em;
            margin-top: 1em;
            .bottom-cards {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: -4em;
                .card-1 {
                    margin-top: -0.4em;
                }
            }
        }
        .profile-avatar {
            border-radius: 50px;
        }
    }
    .showcase-card-labels {
        padding: 0 0.5em;
        .showcase-avatar-title {
            display: flex;
            align-items: center;
            margin-bottom: 0.7em;
            margin-top: 0.5em;
            padding-left: 0.7em;
            padding-right: 0.7em;
            .profile-username {
                margin-left: 0.5em;
                font-weight: 400;
                font-size: 17px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .collection-categories {
            font-size: 12px;
            line-height: 1.2em;
            padding-left: 0.7em;
            padding-right: 0.7em;
            font-weight: 400;
        }
    }
    
    .showcase-card-value {
        text-align: right;
        font-weight: 700;
        font-size: 14px;
        padding: 0.3em;
    }
}

@media screen and (max-width: 100rem) {
    .showcases-page-container {
        width: 80rem;
    }
    .category-select {
        width: 83rem;
    }
}

@media screen and (max-width: 90rem) {
    .showcases-page-container {
        width: 74rem;
    }
    .category-select {
        width: 77rem;
    }
}

@media screen and (max-width: 75rem) {
    .showcases-page-container {
        width: 57rem;
    }
    .category-select {
        width: 60rem;
    }
}

@media screen and (max-width: 60rem) {
    .showcases-page-container {
        width: 45rem;
    }
    .category-select {
        width: 44rem;
    }
}
@media screen and (max-width: 45rem) {
    .showcases-page-container {
        width: 35rem;
    }
    .category-select {
        width: 32rem;
    }
}
@media screen and (max-width: 35rem) {
    .showcases-page-container {
        width: 30rem;
    }
    .category-select {
        width: 30rem;
    }
}
@media screen and (max-width: 35rem) {
    .showcases-page-container {
        width: 20rem;
    }

    .category-select {
        width: 20rem;
    }
}

/* Dropdown Button */
.dropbtn {
    color: #258f92;
    background-color: #f7f7f8;
    padding: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    width: 10rem;
    border-radius: 5px;
    text-align: left;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 1em;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    width: 15em;
    .dropdown-option {
        border: none;
        width: 100%;
        text-align: left;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        &:hover {
            background-color: #258f928f;
        }
    }
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
 
