.category-select {
    width: 88rem;
    padding-left: 3em;
    select {
        background: transparent;
        border: none;
        margin: 1em 0;
        font-size: 16px;
        font-weight: 600;
        color: #258f92;
    }
}

.load-more-btn {
    margin: 2em;
    background-color: #258f92;
    border: none;
    border-radius: 3px;
    padding: 1em 2em;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    &:hover {
        cursor: pointer;
    }
}

.showcases-page-container {
    display: flex;
    flex-direction: row;
    width: 90em;
    justify-content: center;
    flex-wrap: wrap;
    // margin: 0 20em;
    .showcase-card {
        box-shadow: 4px 4px 10px #c3c3c3;
        border-radius: 5px;
        width: 12em;
        height: 16em;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1em 1em;
        &:hover {
            cursor: pointer;
        }
        .showcase-cover-imgs {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 8em;
            margin-top: 1em;
            .bottom-cards {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: -2em;
                
                .card-1 {
                    margin-top: -0.4em;
                }
            }
        }
        .profile-avatar {
            border-radius: 50px;
        }
    }
    .showcase-card-labels {
        padding: 0 0.5em;
        .showcase-avatar-title {
            display: flex;
            align-items: center;
            margin-bottom: 0.3em;
            margin-top: 0.5em;
            .profile-username {
                margin-left: 0.5em;
                font-weight: 400;
                font-size: 18px;
            }
        }
        .collection-categories {
            font-size: 13px;
            line-height: 1.2em;
        }
    }
    
    .showcase-card-value {
        text-align: right;
        font-weight: bold;
        font-size: 12px;
        padding: .3em;
    }
}

@media screen and (max-width: 90rem) {
    .showcases-page-container {
        width: 74rem;
    }
    .category-select {
        width: 74rem;
    }
}

@media screen and (max-width: 70rem) {
    .showcases-page-container {
        width: 57rem;
    }
    .category-select {
        width: 60rem;
    }
}

@media screen and (max-width: 57rem) {
    .showcases-page-container {
        width: 45rem;
    }
    .category-select {
        width: 46rem;
    }
}
@media screen and (max-width: 45rem) {
    .showcases-page-container {
        width: 35rem;
    }
    .category-select {
        width: 32rem;
    }
}
@media screen and (max-width: 35rem) {
    .showcases-page-container {
        width: 30rem;
    }
    .category-select {
        width: 30rem;
    }
}
@media screen and (max-width: 35rem) {
    .showcases-page-container {
        width: 20rem;
        .showcase-card {
            width: 15rem;
            height: 20rem;
            .showcase-cover-imgs {
                height: 12em;
            }
            .collection-categories {
                font-size: 14px;
            }
        }
    }
    #card-image {
        display: none; 
    }
    .category-select {
        width: 20rem;
    }
}
