.placeholder-product {
    height: 10rem;
    width: 7rem;
    background-color: #dddddd;
    border-radius: 5px;
}

.placeholder-title {
    height: 1rem;
    width: 13rem;
    background-color: #dddddd;
    border-radius: 5px;
    margin-bottom: .5rem;
    margin-top: .5rem;
}