.collection-container {
    background-color: white;
    width: 80%;
    border-radius: 10px;
    border: solid 1px #e2e2e2;
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 5vh;
}

@media screen and (max-width: 600px) {
    .collection-container {
        grid-template-columns: 50% 50%;
        width: 100%;
    } 
}