.collection-container {
    background-color: white;
    width: 80%;
    border-radius: 10px;
    border: solid 1px #e2e2e2;
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

