.user-info-container {
    background-color: white;
    width: 42%;
    border-radius: 10px;
    border: solid 1px #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2vh;
        .user-avatar {
            border-radius: 50%;
        }
    }
    .row {
        display: flex;
        flex-direction: row;
        padding-bottom: 2vh;
        justify-content: space-around;
        width: 100%;
        div {
            text-align: center;
            padding: 2vh;
        }
    }
}